
.toybox {

    height: 500px;
}
.canvas > h1 {
    font-weight: bold;
    color: gray;
}

h1 {
    color: gray;
}



.pararight {
    top: 525px;
    left: 80px;
    width: 60px;
    height: 40px;
    background-color: #452159;
}

.quartright {
    top: 525px;
    left: 5px;
    height: 40px;
    width: 40px;
    border-radius: 0 80px 0 0;
    background-color: #5CD465;
}